body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* nav bar  */

.logo {
  width: auto;
  height: 100px;
  margin: 10px
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav_links {
  list-style: none;
}

.nav_links li{
  display: inline-block;
  padding: 0px 50px;
}


.game-columns {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  border: 1px solid lightgray;
  background-color: #eff4fd;
}


.game-map {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  border: 1px solid lightgray;
}

.game-description {
  width: fit-content;
}

.game-spread, .game-moneyline, .game-totals {
  margin-top: 10px;
}

.game-spread-price, .game-moneyline, .game-totals-price {
  color: blue;
}


.away-spread, .home-spread, .game-moneyline, .game-totals {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(144, 197, 251);
  border-radius: 10px;
  cursor: pointer;
  width: 100px;
  height: 50px;
  font-size:small;
  font-weight: bold;
}

.away-spread > p, .home-spread > p, .game-totals > p, .game-moneyline > p {
  margin: 0;
}

.away-spread:hover, .home-spread:hover, .game-moneyline:hover, .game-totals:hover {
background-color: rgb(223, 238, 253);
}

.away-spread:focus, .home-spread:focus, .game-moneyline:focus, .game-totals:focus {
  background-color: rgb(223, 238, 253);
}


.betslip {
  position: fixed;
  bottom: 0%;
  background-color: #eff4fd;
  width: 100%;
}