body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
}

/* register page  */
.register-container, .home-container {
  width: 100%;
  height: 100vh;
  background-image: url('https://wallpapersmug.com/download/1920x1080/2ba373/stadium-football-sports.jpg');
  background-position: center;
  background-size:cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Chivo Mono', monospace;

}

.register-title > h1{
color: white
}

.sign-up-card {
  width: 30%;
  height: 584px;
  background-color: #ffffff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(20, 20, 126);
  padding: 20px
}

@media (max-width: 1050px) {
  .sign-up-card {
    width: 60%;
  }

  .register-container > h3 {
    text-align: center;
  }


}

.sign-up-card > p {
  font-size: 24px;
  margin-bottom: 15px;
}

.already-registered-button {
  height: 3rem;
  width: 10rem;
  background-color:rgb(20, 20, 126);
  color: white;
  cursor: pointer;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:14px ;
  margin-bottom: 10px;
  border: 1px solid black;
}

.already-registered-button:hover {
  background-color:rgb(6, 6, 128);
}

.register-form, .login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-outer-container {
  width: 250px;
  height: 50px;
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: white;
  margin-bottom: 5px;
}

.input-inner-container {
  width: 200px;
  height: 34px;
}

.input-inner-container > span {
  color: rgb(121, 121, 121);
  font-size: 14px;
}

.terms {
  font-size: 0.7rem;
  color: rgb(122, 122, 122);
  text-align: center;
}

.terms > p {
  margin: 10px;
}

.back-to-register {
  padding-top: 50px;
  background-color: inherit;
  border: none;
  cursor: pointer;
  color: white;
  font-size: medium;
  position: fixed;
  bottom: 20%;
}

.home-title {
  text-align: center;
}

/* nav bar  */

.logo {
  width: auto;
  height: 4rem;
  margin: 10px 10px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 120px;
  background-color: #f5f8fc;
  width: 100%;
}

nav > ul {
color: #1b3152;
font-weight: bold;
}

.nav_links ul{
margin: 0;
padding: 0;
display: flex;
}


.nav_links li {
  color: #1b3152;
  font-weight: bold;
  text-decoration: none;
  padding: 1rem;
  display: block;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  list-style: none;
}

.nav_links li:hover {
  font-size: larger;
}

@media (max-width: 600px) {

.nav_links li {
  padding: 0.5rem;
}

}

/* sportsbook page  */

.choose-epl, .choose-nfl {
  cursor: pointer;
}

.game-container {
  font-family: 'Nunito Sans', sans-serif;
  width: 100%;
  /* font-family: 'Inconsolata', monospace; */
}


.game-columns {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  border: 1px solid lightgray;
  background-color: #f5f8fc;
  padding: 7px 0px;
  justify-items: center;
}

.team-logo {
  width: auto;
  height: 3rem;
}

.game-map {
  border: 1px solid lightgray;
}

.away-team, .home-team {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  width: 100%;
}

.away-team-info{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 1rem;
}

.home-team-info {
  display: flex;
  flex-direction: column;
}






.game-description {
  width: fit-content;
}

.game-spread, .game-moneyline, .game-totals {
  margin: 10px 0;
  
}

.game-spread-price, .game-moneyline, .game-totals-price {
  color: blue;
}


.away-spread, .home-spread, .game-moneyline, .game-totals {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(144, 197, 251);
  border-radius: 10px;
  cursor: pointer;
  width: 100px;
  height: 50px;
  font-size:small;
  font-weight: bold;
}

.away-spread > p, .home-spread > p, .game-totals > p, .game-moneyline > p {
  margin: 0;
}

.away-spread:hover, .home-spread:hover, .game-moneyline:hover, .game-totals:hover {
background-color: rgb(223, 238, 253);
}

.away-spread:focus, .home-spread:focus, .game-moneyline:focus, .game-totals:focus {
  background-color: rgb(223, 238, 253);
}

@media (max-width: 600px) {

.away-team-info, .home-team-info {
  font-size: 0.8rem;
  text-align: center;
}

.away-spread, .home-spread, .game-moneyline, .game-totals {
  height: 50px;
  width: 75px;
}

}

/* bet slip  */
.betslip {
  position: fixed;
  bottom: 0%;
  background-color: #eff4fd;
  width: 100%;
  border-top: 2px solid lightgray;
  border-left: 2px solid lightgray;
  border-right: 2px solid lightgray;
  border-radius: 10px;
}

.bet-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form-inputs {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.bet-outer-container {
  width: 250px;
  height: 50px;
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: white;
  margin-bottom: 5px;
}

.bet-inner-container {
  width: 200px;
  height: 34px;
}

.bet-inner-container > span {
  color: rgb(121, 121, 121);
  font-size: 14px;
}

.wager-input, .to-win-input {
  border: none;
  font-size: 16px;
}

.betslip-form {
  display: flex;
  flex-direction: column;
}


.submit-bet-button {
  width: auto;
  height: 50px;
  margin: 5px;
  background-color: rgb(27, 177, 82);
  border: 1px solid lightgray;
  border-radius: 10px;
  color: white;
  font-size: large;
  cursor: pointer;
}

.submit-bet-button:hover {
  background-color: rgb(23, 157, 72) ;
}

/* profile section */

.profile-bets-map {
  border: 1px solid lightgray;
}

.profile-bet-details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.profile-bet-date {
  display: flex;
  justify-content: space-around;
}

/* scores page  */

.scores-list-page {
  background-color: #1b3152;
}

.scores-map {
  display: flex;
  justify-content: space-between;
  background-color: #1b3152;
  color: #f5f8fc;
  margin-bottom: 1rem;
}


.scores-grid {
  height: 100vh;
}

.scores-map > p {
  margin-right: 50px;
  margin-top: 8px;
}
.final-score {
  color: greenyellow;
}

.scores-page-title {
  background-color: #f5f8fc;
  display: flex;
  justify-content: center;
  border-top: none;
}

.live-game {
  color: red;
}

.score { 
  font-size: larger;
  color: darkgray
}

.scores-header {
  display: flex;
  justify-content: space-evenly;

}

/* my bets  */
.profile-page {
  font-family: 'Nunito Sans', sans-serif;
  color:rgb(6, 6, 128)
}

.bet-win-condition {
  margin-top: 10px;
  margin-left: 10px;
  color: green;
}

.bet-lose-condition {
  color: red;
  margin-top: 10px;
  margin-left: 10px
}

.bet-status-header {
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
  background-color:#f5f8fc;
}

.status-selected {
  color: darkgray;
}

.profile-header {
  background-color:#f5f8fc;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5px;
}

.update-games-button {
  background-color: inherit;
  border: 1px solid lightgray;
  border-radius: 5px;
  cursor: pointer;
}

.update-games-button:hover {
  background-color: #1b3152;
  color: white;
}

.profile-bet-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.delete-bet {
  text-align: center;
  color: lightgray;
  cursor: pointer;
  transition: 0.3s;
}
.delete-bet:hover {
color: red;
}